---
layout: default
---
<div class="left_nav_bar">
    {% include icons.html %}
    <ul>
        <li ><a href="index.html">About</a></li>
        <li><a href="cv.html">CV</a></li>
        <li><a href="pubs.html">Publications</a></li>
        <li><a href="links.html">Links</a></li>
        <li data-scroll-nav="0">Post</li>
        {% assign nav_count = 1 %}
        {% assign sorted_pages = site.posts | sort:"order" %}
        {% for node in site.posts %}
            {% if node.published %}
                <li data-scroll-nav="{{nav_count}}" class="blog">&nbsp;{{node.title}}
                </li>
                {% assign nav_count = 1| plus:nav_count %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="main">
    <div class="left">
        {% assign section_count = 1 %}
        {% assign sorted_pages = site.posts | sort:"order" %}
        {% for node in site.posts %}
            {% if node.published %}
                <section  data-scroll-index="{{section_count}}">
                    <a name="{{section_count}}"></a>
                    {{node.content}}
                    <br><br>
                </section>
                <hr>
                {% assign section_count = 1| plus:section_count %}
            {% endif %}
        {% endfor %}
    </div>
</div>


    {% include foot.html %}
