---
layout: default
---
<div class="left_nav_bar">

    {% include icons.html %}
  <ul>
        <li ><a href="index.html">About</a></li>
    <li data-scroll-nav="0">CV</li>
    {% assign nav_count = 1 %}
    {% assign sorted_pages = site.about_pages | sort:"order" %}
    {% for node in sorted_pages %}
      {% if node.published %}
        <li data-scroll-nav="{{nav_count}}" class="blog">&nbsp;{{node.title}}
        </li>
        {% assign nav_count = 1| plus:nav_count %}
      {% endif %}
    {% endfor %}
    <li><a href="pubs.html">Publications</a></li>
    <li><a href="links.html">Links</a></li>
    <li><a href="blog.html">Posts</a></li>
  </ul>

</div>
  <div class="main">
    <div class="left">
      {% assign section_count = 1 %}
      {% assign sorted_pages = site.about_pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.published %}
          <section  data-scroll-index="{{section_count}}">
            <a name="{{section_count}}"></a>
            {{node.content}}
          </section>
          {% assign section_count = 1| plus:section_count %}
        {% endif %}
      {% endfor %}
    </div>
  </div>



    {% include foot.html %}
