---
layout: default
---
<div class="left_nav_bar">
    <div id="head">
        <img src="https://avatars3.githubusercontent.com/u/2158394?v=3&amp;s=110">
    </div>
    <ul>

        <li data-scroll-nav="0">CV</li>
        {% assign nav_count = 1 %}
          {% assign sorted_pages = site.about_pages | sort:"order" %}
          {% for node in sorted_pages %}
            {% if node.published %}
            <li data-scroll-nav="{{nav_count}}">&nbsp;{{node.title}}
            </li>
            {% assign nav_count = 1| plus:nav_count %}
          {% endif %}
        {% endfor %}
        <li><a href="pubs.html">Publications</a></li>
        <li><a href="blog.html">Posts</a></li>
    </ul>

</div>
  <div class="main">
    <div class="left">
      {% assign section_count = 1 %}
      {% assign sorted_pages = site.about_pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.published %}
          <section  data-scroll-index="{{section_count}}">
            <a name="{{section_count}}"></a>
            {{node.content}}
          </section>
          {% assign section_count = 1| plus:section_count %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

<script type="text/javascript">
$(function(){
$.scrollIt();
});
</script>
