
<script type="text/javascript">
$(function(){
$.scrollIt();
});
</script>
<div class="foot">
</div>
<script type="text/javascript">
d3.select(".foot")
.selectAll("div")
.data(d3.range(14))
.enter()
.append("div")
.attr("class", "top-box")

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6377939-2', 'auto');
  ga('send', 'pageview');

</script>
