<div class="left_nav_bar">
    <div id="head">
        <img src="https://avatars3.githubusercontent.com/u/2158394?v=3&amp;s=110">
    </div>
    <ul>
        <li data-scroll-nav="0">About</li>
        <li data-scroll-nav="1">Students</li>
        <li data-scroll-nav="2">Courses</li>
        <li data-scroll-nav="3">Talks</li>
        <li data-scroll-nav="4">Awards</li>
        <li data-scroll-nav="5">Links</li>
        <li data-scroll-nav="6">Publications</li>
    </ul>

</div>
<div class="header">
</div>
<script type="text/javascript">
d3.select(".header")
.selectAll("div")
.data(d3.range(14))
.enter()
.append("div")
.attr("class", "top-box")
</script>
