@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
    font: normal normal 15px'Trebuchet MS', Trebuchet, Verdana, sans-serif;
}
a {
    color: $accent-color;
    text-decoration: none;
}
ul {
    padding: 0 0 0 0px;
    list-style: none;
}
.holder {
    margin: 0 auto;
    width: $full-width;
}
.header {
    padding: 0 10px 5px 5px;
    float: right;
    max-width: $main-width;

    .top-box {
        $box-width: ($main-width) / $boxes  - 4px;
        width: $box-width;
        height: $box-width;
        @include border-radius(30%);
        float: left;
        transition: 1s;
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
        margin: 0 2px;
        background: $grey;
        color: $grey;
    }
    .top-box:hover {
        background: #000;
        color: #000;
    }
    a {
        text-decoration: none;
    }
}
.main {
    padding: 0 5px;
    float: right;
    text-align: justify;
    section {
        float: left;
    }

    .right {
        padding: 0 10px;
        float: right;
        width: 160px;
        text-align: right;

        ul {
            font-size: 14px;
        }
    }
    .left {
        .one {
            padding-top: 5px;
        }
        float: left;
        width: $main-width;

        h2 {
            padding-top: 25px;
        }
        .key-header {
            padding-top: 25px;
            display: block;
            font-size: 1.5em;
            font-weight: bold;
        }
        h3 {
            padding-top: 10px;
        }
        p {
            padding-bottom: 8px;
            text-indent: 1em;
        }
    }
}
.left_nav_bar {
    position: fixed;
    font-size: 18px;
    width: $left-width;
    .name {
        padding: 0 2px;
        font-size: 22px;
        line-height: 1.2;
    }
    li {
        line-height: 1.2;
        margin: 2px;
        padding: 0px 4px;
        @include border-radius(4px);
        transition: 0.2s;
        color: $accent-color;
        cursor: pointer;
    }
    .active {
        background: $grey;
    }
    li:hover {
        background: $grey;
    }
    #head, h3, h4 {
        text-align: left;
        padding-bottom: 8px;
    }
    .email {
        font-size: 14px;

    }
    .blog {
        font-size: 12px;

    }
}


.icon {
    padding: 0 2px;
    font-size: 18px;
    line-height: 1.2;
    color: black;
    padding-top: 8px;

    &:hover {
        color: $accent-color;
    }
}

.footer {
    height: 150px;
    width: 100%;
    display: inline-block;
}
