body {
    font: normal normal 14px'Trebuchet MS', Trebuchet, Verdana, sans-serif;
}
a {
    color: #28B;
}
ul {
    padding: 0 0 0 0px;
    list-style: none;
}
.holder {
    margin: 0 auto;
    width: 780px;
}
.header {
    padding: 0 10px 5px 5px;
    float: left;
    max-width: 650px;
}
.header div {
    width: 42px;
    height: 42px;
    line-height: 42px;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    float: left;
    transition: 1s;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    margin: 0 2px;
}
.header div {
    background: #ddd;
    color: #ddd;
}
.header div:hover {
    background: #000;
    color: #000;
}
a{
    text-decoration: none;
}


#author_list, #chord_vis, #pub_list {
    padding: 5px;
    clear: both;
    overflow: hidden;
    width: 700px;
}
#chord_vis {
    height: 500px;
}

#chart {
    font: 10px sans-serif;
    float: left;
}
.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}
.chord_labels, .tick_labels {
    font-size: smaller;
}

.author_box {
    cursor: default;
    width: 120px;
    padding: 0px 5px;
    float: left;
}

.bar {
    float: left;
    left: 15px;
    width: 120px;
    font-size: 18px;
}
.bar li {
    line-height: 1.2;
}
.bar li:hover {
}
.right .icon {
    padding: 0 2px;
    font-size: 18px;
    line-height: 1.2;
}
.bar .name {
    padding: 0 2px;
    font-size: 22px;
    line-height: 1.2;
}
.selected {
    background: #CCC;
}
.main {
    padding: 0 5px;
    float: right;
    max-width: 650px;
    text-align: justify;
}
.main .left {
    float: left;
}
.main .right {
    padding: 0 10px;
    float: right;
    width: 165px;
    text-align: right;
}
.main .right ul {
    font-size: 14px;
}
