<section  data-scroll-index="1">
<h2>Students</h2>
<h3>Graduated Students</h3>
<div id="GraduatedStudents" class="citation_block"></div>
<h3>Current Students</h3>
<div id="CurrentStudents" class="citation_block"></div>
</section>
<script type="text/javascript">
var formats_students = {
"GraduatedStudents": '<div class="row">%%Name%%, <i>%%Title%%</i>, %%Year%%; %%Role%%. %%Misc%%</div>',
"CurrentStudents": '<div class="row">%%Name%%, %%Misc%%.</div>'
}
var student_list = new cordpub.cordpub();
student_list.init(
'1QdKhXtFd-8GEcvX52PuM4zlAckenq999Nvs3iEUkRVc&gid=1789498660',
formats_students,
false,
false,
false,
false,
"order by %%Year%% desc"
);
</script>
