<html>
    {% include head.html %}
    <body>
      <div class="holder">
        {% include nav.html %}
        <div class="main">
            <div class="left">
                {% include about/about.html %}
                {% include about/students.html %}
                {% include about/courses.html %}
                {% include about/talks.html %}
                {% include about/awards.html %}
                {% include about/pubs.html %}

            <div>
            {% include about/links.html %}
        </div>
      </div>
    </body>
</html>
