---
layout: default
---
<div class="left_nav_bar">
    {% include icons.html %}
    <ul>
        <li ><a href="{{ site.baseurl }}/index.html">About</a></li>
        <li><a href="{{ site.baseurl }}/cv.html">CV</a></li>
        <li><a href="{{ site.baseurl }}/pubs.html">Publications</a></li>
        <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
		<li><a href="{{site.posts.first.url}}">Blog</a></li>
        {% assign nav_count = 1 %}
        {% assign sorted_pages = site.posts | sort:"order" %}
        {% for node in site.posts %}
            {% if node.published %}
                <li class="blog"><a href="{{ node.url }}">&nbsp;{{node.title}}</a>
                </li>
                {% assign nav_count = 1| plus:nav_count %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="main">
    <div class="left">
{{ content }}
<br><br>
    </div>
</div>


    {% include foot.html %}
